@model AddressBook.Models.Account

@{
    ViewBag.Title = "Login";
}

<script>

    $(function () {
        $("#btnLogin").click(function () {
            if ($("#TxtAccount").val() == "" || $("#TxtPassword").val() == "") {
                Swal.fire({
                    icon: 'warning',
                    title: '空值欄位',
                    text: '帳號密碼有空值欄位'
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Home/Login/",
                    data: $("#form1").serialize(),
                    success: function (result) {
                        if (result.loginStatus) {
                            Swal.fire({
                                icon: 'success',
                                title: result.message,
                                showConfirmButton: false,
                                timer: 1000,
                                // 登入成功後跳轉到指定的URL
                                onClose: function () {
                                    window.location.href = result.redirectUrl;
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: '登入失敗',
                                text: result.message
                            });
                        }
                    }
                });
            }
        })
    });

</script>

<div style="padding: 200px 0">
    <form id="form1">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card bg-secondary" style="max-width: 500px;">
                        <div class="card-header text-white bg-primary" style="text-align: center;">
                            <h4>登入</h4>
                        </div>
                        <div class="card-body">
                            @Html.ValidationSummary()
                            <br />
                            <div class="form-group row" style="margin:auto">
                                @Html.Label("帳號")
                                <input id="TxtAccount" name="TxtAccount" type="text" class="form-control" required="required"/>
                            </div>
                            <br />
                            <div class="form-group row" style="margin:auto">
                                @Html.Label("密碼")
                                <input id="TxtPassword" name="TxtPassword" type="password" class="form-control" required="required" />
                            </div>
                            <br /><br />
                            <label style="color:red">@ViewBag.Errmsg</label>
                            <div class="form-group row" style="margin:auto">
                                <input id="btnLogin" type="button" value="送出" class="btn btn-lg btn-success" />
                            </div>
                            <br />
                            @Html.ActionLink("回首頁", "Index", "home")
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </form>
</div>

