@model AddressBook.Models.Account

@{
    ViewBag.Title = "Login";
}

<div style="padding: 200px 0">
    @using (Html.BeginForm("login" , "home" , FormMethod.Post))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card bg-secondary" style="max-width: 500px;">
                        <div class="card-header text-white bg-primary" style="text-align: center;">
                            <h4>登入</h4>
                        </div>
                        <div class="card-body">
                            @Html.ValidationSummary()
                            <br />
                            <div class="form-group row" style="margin:auto">
                                @Html.Label("帳號")
                                @Html.TextBox("account", "", new { @class = "form-control", Required = "required" })
                            </div>
                            <br />
                            <div class="form-group row" style="margin:auto">
                                @Html.Label("密碼")
                                @Html.Password("password", "", new { @class = "form-control", Required = "required" })
                            </div>
                            <br /><br />
                            <label style="color:red">@ViewBag.Errmsg</label>
                            <div class="form-group row" style="margin:auto">
                                <button class="btn btn-lg btn-success" type="submit">送出</button>
                            </div>
                            <br />
                            @Html.ActionLink("回首頁", "Index", "home")
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    }
</div>

